# Ignore everything
*

# But not these files...
!.gitignore
!music_bot.py
!music_bot_analog.py
!README
!user-config.py
!user-config.py.redraw
!redraw_family.py
!vdj_familiy.py

# ...even if they are in subdirectories
!*/
